Checks: >
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    concurrency-*,
    cppcoreguidelines-*,
    misc-*,
    -misc-no-recursion,
    -misc-include-cleaner,
    modernize-*,
    -modernize-use-trailing-return-type,
    performance-*,
    portability-*,
    readibility-*,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
WarningsAsErrors: '*'
UseColor: true